<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @workout.duration %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
