<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="main-header">
      <div class="container">
        <%= link_to "Work Out App", root_path, class: "header-title" %>
        <%= link_to "Top Page", root_path, class: "header-link" %>
      </div>
   </header>

    <%= yield %>
  </body>
</html>
